[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile/
[submodule "site-lisp/god-mode"]
	path = site-lisp/god-mode
	url = https://github.com/chrisdone/god-mode
[submodule "site-lisp/css-mode"]
	path = site-lisp/css-mode
	url = https://github.com/tprost/css-mode
[submodule "site-lisp/pinyin-convert"]
	path = site-lisp/pinyin-convert
	url = https://github.com/tprost/pinyin-convert.el.git
[submodule "site-lisp/xcss-mode"]
	path = site-lisp/xcss-mode
	url = https://github.com/tprost/xcss-mode.git
[submodule "site-lisp/goldendict"]
	path = site-lisp/goldendict
	url = https://github.com/tprost/goldendict.el
[submodule "site-lisp/sonic-pi"]
	path = site-lisp/sonic-pi
	url = https://github.com/repl-electric/sonic-pi.el
[submodule "site-lisp/dotnet.el"]
	path = site-lisp/dotnet.el
	url = https://github.com/julienXX/dotnet.el
[submodule "snippets/andrea-crotti"]
	path = snippets/andrea-crotti
	url = https://github.com/AndreaCrotti/yasnippet-snippets
