[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile/
[submodule "site-lisp/god-mode"]
	path = site-lisp/god-mode
	url = https://github.com/chrisdone/god-mode
[submodule "site-lisp/css-mode"]
	path = site-lisp/css-mode
	url = https://github.com/tprost/css-mode
[submodule "site-lisp/lookup"]
	path = site-lisp/lookup
	url = https://github.com/lookup2/lookup2
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/pinyin-convert"]
	path = site-lisp/pinyin-convert
	url = https://github.com/tprost/pinyin-convert.el.git
[submodule "site-lisp/xcss-mode"]
	path = site-lisp/xcss-mode
	url = https://github.com/tprost/xcss-mode.git
