.org-id-locations
ac-comphist.dat
auto-save-list/
ido.last
kkcrc
projectile-bookmarks.eld
session.*
tramp
/.DS_Store
/lisp/init-text-mode.el
.mc-lists.el
SessionDesktop.el
bookmarks
elisp/
elpa/
games/
history
jasminejs-mode/
prelude/
projectile.cache
recentf
settings/
smex-items
snippets
/server/server
/custom.el
.cask
.cache
url
/eshell/lastdir
