[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile/
[submodule "site-lisp/god-mode"]
	path = site-lisp/god-mode
	url = https://github.com/chrisdone/god-mode
[submodule "site-lisp/css-mode"]
	path = site-lisp/css-mode
	url = https://github.com/tprost/css-mode
